/* ============================================================================
MODULES -> BACK-ARROW
========================================================================= */

/**
 * back-arrow component
 */

.back-arrow {
    
    display: none;
    position: absolute;
    top: 40px;
    left: 40px;
    width: 70px;
    height: 70px;
    background-color: $g-color-pri;
    
    @include breakpoint('teen-bear'){
        display: block;
    }
}
