/* ============================================================================
MODULES -> PATIENTS LIST
========================================================================= */

/**
 * patients-list box
 */
 
.patients-list {
    
    /**
    * Elements
    */
    
    &__inner {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        text-align: center;
        transition: all .4s ease;
    }
    
    &__item {    
        width: 100%;
        margin: rem($shell-g-spacing-base);
        margin-bottom: 0;
        
        @include breakpoint('baby-bear'){
            max-width: 240px;
            margin: rem($shell-g-spacing-base);
        }
    }
}